
@{
    ViewBag.Title = "Hello React!";
}

<div id="myapp"></div>

<!-- Dependencies -->
@if (System.Web.Configuration.WebConfigurationManager.AppSettings["Environment"] == "Dev")
{
    <script src="~/node_modules/react/umd/react.development.js"></script>
    <script src="~/node_modules/react-dom/umd/react-dom.development.js"></script>
}
else
{
    <script src="~/node_modules/react/umd/react.production.min.js"></script>
    <script src="~/node_modules/react-dom/umd/react-dom.production.min.js"></script>
}


<!-- Main -->
<script src="/App/dist/bundle.js"></script>
